<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CountriesApp.Properties.Settings.CountriesDBConnectionString"
            connectionString="Data Source=sqland.database.windows.net;Initial Catalog=CountriesDB;Persist Security Info=True;User ID=sqlander;Password=5ql@nder"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>