@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Roman Koshchey</h1>
    <p>Creator of this web site. <a href="https://github.com/koshcher">GitHub account</a> of creator.</p>
</div>
